div{
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header header header"
  "nav content content";

  header{
    grid-area: header;
    background-color: #3c55b8;
    padding: 1em;
    box-shadow: 1px 2px 4px 0 rgba($color: #001, $alpha: 0.5);
    h3{
      color: #fff;
    }
  }
  nav{
    grid-area: nav;
    background-color: #fff;

    ul li a{
      margin: 0;
      padding: 1em;
      color: #000;
      display: block;
    }
  }

  main{
    grid-area: content;
    background-color: #f3f7fb;
    padding: 1em;
  }
}
